.kakao-box{
  background-color: #fee500;
  height: 55px;
  width: 350px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  padding: 0 8px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
}

#naverIdLogin, #googleIdLogin {
  display: none;
}

.naver-box{
  background-color: #1ec800;
  height: 55px;
  width: 350px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  padding: 0 8px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
  color:#fff;
}

.google-box{
  background-color: #fff;
  height: 55px;
  width: 350px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  padding: 0 8px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
  border: 1px solid rgba(189,189,189)
}

.apple-box{
  background-color: #000;
  height: 55px;
  width: 350px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  padding: 0 8px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
  color:#fff
}

svg{
  width: 40px;
  height: 40px;
  position: absolute;
}

span{
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  width: 100%;
  text-align: center;
}
